services:
  transformable:
    image: ghcr.io/transformable-app/transformable-container:latest
    restart: unless-stopped
    ports:
      - 8090:8090
    volumes:
      - /home/forge/site_pb_data:/app/pb_data
      - /home/forge/site.example.com:/site
    environment:
      - SITE_DEPLOY_TOKEN=${SITE_DEPLOY_TOKEN}
      - SITE_URL=${SITE_URL:-https://site.example.com}
      - SITE_ROOT=${SITE_ROOT:-/site}